<h2>Bienvenido a mi eccomerce!</h2>
<h1>Iniciar session</h1>
<form action="/session/login" method="post">
    Email: <input type="text" name="email"><br>
    Password: <input type="password" name="password"><br>
    <br>
    <input type="submit" value="Iniciar sesión">
</form>
<div>
    <a href="/session/github"><button>Entrar con Github</button></a>
</div>
<div>
    <a href="/session/register"><button>Registrarse</button></a>
</div>